<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.somle.shopify.mapper.ErpShopMapper">
    <select id="getShopAndTokenInfo" resultType="java.lang.String">
        select erp_shop.name,
               shopify_token.access_token
        from erp_shop
                 join shopify_token on erp_shop.auth_id = shopify_token.id
        where erp_shop.deleted = 0
          and erp_shop.plat_name = 'Shopify'
    </select>
</mapper>