<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.somle.shopify.mapper.ShopifyTokenMapper">
  <resultMap id="BaseResultMap" type="com.somle.shopify.domain.ShopifyToken">
    <!--@mbg.generated-->
    <!--@Table shopify_token-->
    <id column="id" property="id" />
    <result column="access_token" property="accessToken" />
    <result column="subdomain" property="subdomain" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, access_token, subdomain
  </sql>

  <select id="getHeaders" resultType="java.lang.String">
    SELECT
      `NAME`,
      access_token
    FROM
      `erp_shop`,
      shopify_token
    WHERE
      erp_shop.auth_id = shopify_token.id
      AND NAME = #{storeName}
  </select>
</mapper>