<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.somle.walmart.mapper.WalmartTokenMapper">

  <select id="getShopAndTokenInfo" resultType="com.somle.walmart.domain.ShopAndTokenInfo">
      SELECT
          walmart_token.id as tokenId,
          `name` as shopName,
          client_id,
          client_secret,
          correlation_id,
          svc_name,
          domain
      FROM
          erp_shop
              JOIN walmart_token ON erp_shop.auth_id = walmart_token.id
      WHERE
          erp_shop.deleted = 0
        AND erp_shop.plat_name = 'Walmart'
  </select>
</mapper>