<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.somle.walmart.mapper.WalmartTokenMapper">
  <resultMap id="BaseResultMap" type="com.somle.walmart.domain.WalmartToken">
    <!--@mbg.generated-->
    <!--@Table walmart_token-->
    <id column="id" property="id" />
    <result column="client_id" property="clientId" />
    <result column="client_secret" property="clientSecret" />
    <result column="svc_name" property="svcName" />
    <result column="consumer_channel_type" property="consumerChannelType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, client_id, client_secret, svc_name, consumer_channel_type
  </sql>
</mapper>