<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.somle.shopify.dal.ShopifyTokenMapper">

  <select id="getShopAndTokenInfo" resultType="com.somle.shopify.model.ShopifyShopAndTokenInfo">
      select `name` as shopName,
             access_token,
             domain
      from oms_shop
               join shopify_token on oms_shop.auth_id = shopify_token.id
      where oms_shop.deleted = 0
        and oms_shop.plat_name = 'Shopify'
  </select>

</mapper>